<div class="page-header">
    <h1>Calendar</h1>
    <p class="lead">{{#formatDate "Do MMMM"}}{{start}}{{/formatDate}} to {{#formatDate "Do MMMM"}}{{end}}{{/formatDate}}</p>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
            <a href="/" type="button" class="btn btn-default">This Week</a>
        </div>
        <div class="btn-group" role="group">
            <a href="/meals/{{pagination.previous}}" type="button" class="btn btn-default">Previous</a>
            <a href="/meals/{{pagination.next}}" type="button" class="btn btn-default">Next</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="form-group">
                <input type="text" class="form-control" id="meal-input" name="text" placeholder="Enter a meal  e.g. Mon - Alice - Spaghetti Carbonara" autofocus>
                <input type="hidden" name="from" value={{start}}>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12"><p class="text-muted">Please write in the form 'Day name - Your name - Meal description'. The hyphens are used to distinguish between the three parts.</p></div>
</div>
<br />

{{#each validationErrors}}
<div class="alert alert-danger" role="alert"><p>{{msg}}</p></div>
{{/each}}

{{#each days}}
    <div class="row day-list">
        <div class="col-md-12">
            <p class="date">{{#formatDate "dddd Do"}}{{date}}{{/formatDate}}</p>
        </div>
    </div>
    {{#each food}}
    <div class="row">
        <div class="col-md-12"><p>{{who}} - {{what}}</p></div>
    </div>
    {{/each}}
{{/each}}

