<div class="page-header">
    <h1>Calendar</h1>
    <p class="lead">{{#formatDate "Do MMMM"}}{{start}}{{/formatDate}} to {{#formatDate "Do MMMM"}}{{end}}{{/formatDate}}</p>
</div>

<div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Edit</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Previous</button>
        <button type="button" class="btn btn-default">Next</button>
    </div>
</div>

{{#each days}}
    <h3>{{#formatDate "dddd Do"}}{{date}}{{/formatDate}}</h3>
    <div class="row">
        <div class="col-md-12">
            {{#each food}}
                <p>{{formatWho who}} - {{formatWhat what}}</p>
            {{/each}}
        </div>
    </div>
{{/each}}

